/*
    Edit me.
*/
@import url('https://fonts.googleapis.com/css?family=Patua+One');

#page {
    margin: .5em auto;
    padding: .5em;
    max-width: 30em;
    font-family: 'Patua One', sans-serif;
}

.form {
    text-align: center;
}

#winner {
    position: relative;
    z-index: 2;
    padding: .5em 0;
    font-size: 1.5em;
    color: green;
}
#error {
    color: orange;
}

#progress {
    text-align: center;
    padding-top: 1em;
    word-wrap: break-word;
}

#results {
    font-size: .8em;
    color: #555;
    opacity: .5;
}

.results_round {
    margin: .5em 0 0;
    font-size: 1.2em;
    color: #4a7d58
}

.results_match {
    margin: .4em 0 0;
    font-size: 1em;
    color: #777;
}